.color {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: grey;

    @include tablet {
        width: 16px;
        height: 16px;
    }

    &--black {
        background-color: var(--black);
    }

    &--blue {
        background-color: #7dc3eb;
    }
    
    &--grey {
        background-color: var(--primary);
    }

    &--olive {
        background-color: #909225;
    }

    &--navy {
        background-color: #19418E;
    }
    
    &--pink {
        background-color: #D0A5EA;
    }

    &--white {
        background-color: var(--white);
        border: 1px solid #D0D0D0;
    }

}
