.footer {
	margin-top: 88px;

	background-color: #000000;
	padding: 24px 0;
	font-weight: 400;
	font-size: 12px;
	line-height: 180%;
	text-transform: capitalize;
	color: var(--neutral-graycbcbcb);

	@include mobile {
		margin-top: 24px;
		padding: 8px 0;
	}
}

.footer__copyright {
	padding: 10px 0;
	font-size: 16px;
}
