.icons-wrapper {
	padding: 30px 0;
	display: flex;
	column-gap: 30px;
}

.icon {
	fill: transparent;
	stroke: transparent;
	width: 24px;
	height: 24px;
}

.icon--menu,
.icon--search,
.icon--person,
.icon--bag {
	fill: #0C0C0C;
}

.icon--favorite {
	stroke: #0C0C0C;
	fill: #FFFFFF;
}

.icon--arrow-down {
	fill: #000;
	transition: all 0.2s ease-in;
}


.active .icon--arrow-down {
	transform: rotate(-180deg);
}
	

